@use '../abstracts' as *;

.about {
  text-align: center;
  padding-block: 11.25em 6.25em;

  @include sizeMd {
    padding-inline: 6.25em;
  }

  @include sizeLg {
    padding-inline: unset;
  }
}

.about h1 {
  color: $color-primary;
  font-size: $fs-middle-tl;
  font-family: 'Quicksand', sans-serif;
  margin-bottom: 2.22em;
}

.about-inner {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;

  @include sizeLg {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'left right';
  }
}

.about-right-col {
  @include sizeLg {
    grid-area: right;
  }
}

.about-right-col .img-right-col {
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  transition: clip-path 2.5s ease;
}

.about-right-col .img-right-col.animation {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.img-right-col img {
  width: 100%;
}

.about-left-col {
  @include sizeLg {
    grid-area: left;
    text-align: left;
  }
}

.about-left-col h3 {
  color: var(--color-text-3);
  font-family: 'Quicksand', sans-serif;
  font-size: $fs-small-tl;
  margin-block: 1.51em;

  @include sizeMd {
    font-size: $fs-middle-tl;
  }

  @include sizeLg {
    font-size: $fs-large-tl-2;
    line-height: 1.14;
    margin-block: 0 25px;
  }
}

.about-left-col .about-divider {
  transform: translateX(200px);
  opacity: 0;
  margin-inline: auto;
  transition: all 1.5s ease;

  @include sizeLg {
    margin-inline: unset;
  }
}

.about-left-col .about-divider.animation {
  transform: translateX(0);
  opacity: 1;
}

.about-left-col .about-text {
  margin-block: 1.56em 3.125em;
  opacity: 0;
  transform: translateY(100px);
  transition: all 1.5s ease;
}

.about-left-col .about-text.animation {
  opacity: 1;
  transform: translateY(0);
}

.about-left-col .btn-about-pri {
  opacity: 0;
  transform: translateX(300px);
  transition: all 1.5s 1s ease;
}

.about-left-col .btn-about-pri.animation {
  opacity: 1;
  transform: translateX(0);
}

/* Our vision */
.our-vision {
  position: relative;
  background: url(../img/about-img-2.jpg) no-repeat center center/cover;
  padding-block: 9.375em;
  border-top-left-radius: 40px;
  transform: skewY(-2deg);
}

.our-vision::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: $gradient-3;
  opacity: 0.9;
  border-top-left-radius: 40px;
}

.our-vision::after {
  content: '';
  position: absolute;
  z-index: -1;
  background: var(--color-body-bg);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  right: 0;
  top: -80px;
}

.about-el-1 {
  position: absolute;
  z-index: -2;
  width: 40px;
  height: 40px;
  background: $gradient-4;
  right: 0;
  top: -39px;
}

.our-vision .container {
  position: relative;
  z-index: 1;
  transform: skewY(2deg);
}

.our-vision-content {
  position: relative;
  text-align: center;
  margin-bottom: 3.125em;
}

.our-vision-content h3 {
  color: $color-text-2;
  font-size: $fs-small-tl;
  font-family: 'Quicksand', sans-serif;

  @include sizeMd {
    font-size: $fs-middle-tl;
  }

  @include sizeLg {
    font-size: $fs-large-tl-2;
  }
}

.our-vision-content .vision-divider {
  opacity: 0;
  transform: translateX(200px);
  transition: all 1.5s 1s ease;
}

.our-vision-content .vision-divider.animation {
  opacity: 1;
  transform: translateX(0);
}

.our-vision-content img {
  margin: 1em auto 1em auto;
}

.our-vision-content .vision-title {
  opacity: 0;
  transform: translateY(50px);
  transition: all 1.5s ease;
}

.our-vision-content .vision-title.animation {
  opacity: 1;
  transform: translateX(0);
}

.our-vision-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  margin-top: 3.125em;

  @include sizeMd {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: unset;
    justify-content: unset;
  }

  @include sizeLg {
    grid-template-columns: repeat(4, 1fr);
  }
}

.our-vision-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 3.687em 2.5em;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.our-vision-card:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.vision-car-ani {
  opacity: 0;
  transform: translateX(150px);
  transition: all 1.5s ease;
}

.vision-car-ani.animation {
  opacity: 1;
  transform: translateX(0);
}

.our-vision-img {
  width: 8.75em;
  aspect-ratio: 1;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  padding: 2.312em;
  flex-shrink: 0;
}

.our-vision-img img {
  width: 3.75em;
  height: 3.8125em;
}

.our-vision-text {
  flex: 1;
}

.our-vision-text h4 {
  color: $color-text-2;
  font-size: $fs-middle-sub;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  margin-block: 1.6em 0.571em;
}

.our-vision-text p {
  color: $color-text-2;
}

/* Our time */
.our-time {
  padding: 9.375em 1em 9.375em 1em;
}

.our-time-title h3 {
  color: var(--color-text-3);
  font-size: $fs-small-tl;
  font-family: 'Quicksand', sans-serif;
}

.our-time-title {
  text-align: center;
  margin-bottom: 3.125em;
}

.our-time-title h3 span {
  color: $color-primary;
}

.our-time-title img {
  margin-inline: auto;
  margin-block: 1.56em;
}

.our-time-inner {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(17.31em, auto);
  gap: 1.5em;
  margin-top: 5em;
}

.our-time-card {
  position: relative;
  overflow: hidden;
}

.our-time-card::before {
  content: '';
  position: absolute;
  z-index: 1;
  inset: 0;
  border-radius: 10px;
  background-image: $gradient-3;
  opacity: 0;
  transform: scale(0);
  transition: all 0.5s ease;
}

.our-time-card:hover::before {
  opacity: 0.95;
  transform: scale(1.02);
}

.our-time-card img:not(.our-time-icons img) {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.our-time-content {
  position: absolute;
  z-index: 2;
  inset: 0;
  padding: 16% 12% 14%;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.our-time-card:hover .our-time-content {
  opacity: 1;
}
.our-time-content h4 {
  color: $color-text-2;
  font-size: $fs-middle-sub;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.28em;
}

.our-time-content h4 + p {
  color: $color-text-2;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.44em;
  opacity: 0.75;
}

.our-time-content h4 + p + p {
  color: $color-text-2;
  margin-block: 1em;
  font-weight: 300;
  opacity: 0.75;
}

.our-time-divider {
  width: 100%;
  height: 1px;
  background-color: #fff;
  margin-block: 1em;
}

.our-time-content .our-time-icons {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.our-time-content .our-time-icons img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}
