@use '../abstracts' as *;

/* hero section */
.hero {
  width: 100%;
  height: 105vh;
  margin-top: 10em;
  overflow: hidden;

  @include sizeMd {
    padding: 3.125em 0 0 6.25em;
    height: 100vh;
  }

  @include sizeLg {
    height: 90vh;
  }
}

.hero .content {
  display: none;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-out;
}

.hero .content.active {
  display: block;
}

.hero .container {
  @include sizeSm {
    padding-inline: 6.25em;
  }

  @include sizeMd {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-inline: 0;
  }
}

.hero-left-col h3 {
  color: $color-primary;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 1.1;
  opacity: 0;
  transform: translateX(-100%);
  animation: moveToRight 3s ease forwards;
}

.hero-left-col h1 {
  color: $color-text-3;
  font-size: $fs-middle-tl;
  font-family: 'Quicksand', sans-serif;
  line-height: 1.17em;
  margin-block: 0.17em 0.355em;
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  animation: moveToTop 2.2s 0.5s ease forwards;

  @include sizeLg {
    font-size: $fs-large-tl;
    line-height: 1.1;
  }
}

.hero-left-col h1 span {
  color: $color-primary;
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  animation: moveToTop 2.2s 2.1s ease forwards;
}

.hero-left-col .hero-img-lef {
  opacity: 0;
  transform: translateX(100%);
  animation: moveToLeft 3s 0.5s ease forwards;
}

.hero-left-col p {
  color: $color-text;
  font-size: $fs-small;
  font-family: 'Ubuntu', sans-serif;
  margin-block: 1.142em;
  opacity: 0;
  animation: showItem 2.5s 0.5s linear forwards;

  @include sizeLg {
    font-size: $fs-middle;
  }
}

.hero-right-col-inner {
  position: relative;
  width: 95%;
  height: 400px;
  right: -17vw;
  margin-top: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;

  @include sizeSm {
    right: 0;
    width: 100%;
  }

  @include sizeMd {
    right: -10vw;
  }
}

.hero-right-col .hero-shape-1 {
  background-color: $color-hero-img;
  position: absolute;
  z-index: 10;
  width: 100%;
  aspect-ratio: 1 / 1;
  right: 0;
  top: 0;
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.6);
  transform-origin: right center;

  @include sizeSm {
    width: 90%;
  }

  @include sizeMd {
    width: 100%;
  }
}

.hero-right-col .hero-shape-img {
  position: absolute;
  z-index: 20;
  width: 80%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.16);
  right: 10%;
  top: 9%;
  transform-origin: right center;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.6);

  @include sizeSm {
    width: 70%;
  }

  @include sizeMd {
    width: 79%;
  }

  @include sizeLg {
    top: 14%;
    right: 12%;
  }
}

.hero-right-col
  :is(.hero-shape-li-1, .hero-shape-li-2, .hero-shape-li-3, .hero-shape-li-4) {
  position: absolute;
}

.hero-shape-li-1 {
  width: 40%;
  height: 2.625em;
  background-color: $color-hero-img;
  border-radius: 30px;
  opacity: 0;
  right: 58vw;
  top: 2.625em;
  transform-origin: right center;

  @include sizeSm {
    right: 40vw;
    width: 35%;
  }

  @include sizeMd {
    right: 32vw;
    height: calc(2.625em);
  }
}

.hero-shape-li-2 {
  z-index: 11;
  width: 20%;
  height: 2.625em;
  background-color: $color-body-bg;
  border-radius: 30px;
  top: 5.1875em;
  right: 69vw;
  opacity: 0;
  transform-origin: left center;

  @include sizeSm {
    right: 44vw;
    left: 1vw;
  }

  @include sizeMd {
    left: -2vw;
  }
}

.hero-shape-li-3 {
  width: 34%;
  height: 2.625em;
  background-color: $color-hero-img;
  border-radius: 30px;
  top: calc(7.625em + 3px);
  right: 60vw;
  opacity: 0;
  transform-origin: right center;

  @include sizeSm {
    right: 41vw;
  }

  @include sizeMd {
    right: 32vw;
  }

  @include sizeLg {
    right: 31vw;
  }
}

.hero-shape-li-4 {
  width: 20%;
  height: 2.625em;
  background-color: $color-hero-img;
  border-radius: 30px;
  top: 2.8125em;
  left: -34vw;
  opacity: 0;
  transform-origin: left center;

  @include sizeSm {
    left: -15vw;
    width: 15%;
  }
}

.hero-shape-img img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 50%;
}

.hero-shape-1.animate {
  animation: showShape1 1.5s ease forwards;
}

.hero-shape-img.animate {
  animation: showShape1 1.5s 0.3s ease forwards;
}

.hero-shape-li-1.animate {
  animation: fadeIn 1.5s 1s linear forwards, stretchOut 2s 1.5s ease-in-out;
}

.hero-shape-li-2.animate {
  animation: fadeIn 1.5s 1s linear forwards, stretchOut-2 2s 2s ease-in;
}

.hero-shape-li-3.animate {
  animation: fadeIn 1.5s 1.1s linear forwards, stretchOut-3 2s 1.9s ease-in;
}

.hero-shape-li-4.animate {
  animation: fadeIn 1s 1.1s linear forwards, stretchOut-3 2s 1.7s ease;
}

/* Slider */
.slider-navigation {
  position: absolute;
  width: 2em;
  height: 20%;
  right: 0;
  top: 40%;
  background-color: $color-primary;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  animation: showItem 3s 0.5s ease-out forwards;

  @include sizeMd {
    left: 0;
    top: 35%;
  }
}

.slider-navigation.active {
  visibility: visible;
  opacity: 1;
}

.slider-navigation .nav-btn {
  width: 0.75em;
  height: 0.75em;
  background: transparent;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid $color-body-bg;
  transition: 0.3s ease;
}

.slider-navigation .nav-btn.active {
  background: $color-body-bg;
}

.slider-navigation .nav-btn:not(:last-child) {
  margin-bottom: 1em;
}

.slider-navigation .nav-btn:hover {
  transform: scale(1.2);
}

/* Services */
.services {
  background-color: $color-section-bg;
  padding-block: 12.5em 6.25em;

  @include sizeSm {
    padding-inline: 6.25em;
  }

  @include sizeLg {
    padding-inline: unset;
  }
}

.services .container {
  @include sizeLg {
    display: grid;
    grid-template-columns: 45% 1fr;
  }
}

.services-left-col {
  display: grid;
  place-items: center;
  text-align: center;

  @include sizeLg {
    display: block;
    align-items: start;
    justify-content: start;
    text-align: left;
  }
}

.services-left-col h3 {
  color: $color-text-3;
  font-family: 'Quicksand', sans-serif;
  font-size: $fs-small-tl;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 0.75em;
  opacity: 0;
  transform: translateX(100px);
  transition: transform 1.5s ease-out, opacity 1.5s ease-out;

  @include sizeLg {
    font-size: $fs-large-tl-2;
    margin-top: 0.909em;
    line-height: 1.2;
  }
}

.services-left-col h3 span {
  color: $color-primary;
}

.services-left-col .divider {
  margin: 0.5em 0 2.5em;
  transform: translateX(100px);
  opacity: 0;
  transition: transform 1.5s 0.3s ease-out, opacity 1.5s 0.3s ease-out;
}

.services-left-col h3.animate,
.services-left-col .divider.animate {
  transform: translateX(0);
  opacity: 1;
}

.services-left-col .btn-primary {
  padding: 0.71em 2.14em;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

.services-left-col .btn-primary.animate {
  opacity: 1;
}

.services-right-col {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 3.125em;

  @include sizeLg {
    margin-top: 0;
  }
}

.services-right-inner-1,
.services-right-inner-2 {
  @include sizeLg {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.25em;
  }
}

// .service-right-inner {
//   position: relative;
//   left: 150px;
//   opacity: 0;
//   transition: all 1.5s ease-out;
// }

// .service-right-inner.animate {
//   opacity: 1;
//   left: 0;
// }

.service {
  @include sizeLg {
    display: flex;
    margin-bottom: 3.125em;
  }
}

.service-card {
  position: relative;
  padding: 3.125em;
  background: $color-body-bg;
  margin-bottom: 3.125em;
  box-shadow: 0 3px 35px 0 rgba(0, 0, 0, 0.14);
  border-bottom: 3px solid $color-primary;
  border-radius: 6px;
  opacity: 0;
  left: 150px;
  transition: all 1.5s ease;

  @include sizeLg {
    margin-bottom: 0;
  }
}

.service-card.animate {
  left: 0;
  opacity: 1;
}

.service-card::before {
  content: '';
  position: absolute;
  z-index: 1;
  opacity: 0;
  inset: 0;
  background: linear-gradient(269deg, $color-primary 0%, $color-tertial 100%);
  border-radius: 6px;
  transition: opacity 0.5s ease;
}

.service-card:hover::before {
  opacity: 1;
}

.service-card .service-content {
  position: relative;
  z-index: 10;
}

.service-4-card {
  margin-bottom: 0;

  @include sizeLg {
    transition-delay: 0.5s;
  }
}

.service-2-card {
  @include sizeLg {
    transition-delay: 0.5s;
  }
}

.service-card svg {
  width: 4.312em;
  height: 4.5em;
  margin-bottom: 1.5em;
}

.service-card:hover svg path {
  fill: $color-text-2;
  stroke: $color-text-2;
}

.service-card h4 {
  color: $color-text-3;
  font-size: $fs-middle-sub;
  font-weight: 600;
  font-family: 'Quicksand', sans-serif;
  margin: 6px 0 20px;
}

.service-card:hover h4 {
  color: $color-text-2;
}

.service-card .learn-more {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.service-card:hover .learn-more {
  color: $color-text-2;
}

.service-card .learn-more > i {
  font-size: 1.25em;
  margin-left: 0.5em;
  transition: 0.2s ease;
}

.service-card .learn-more:hover i {
  margin-left: 1em;
}
/* Modal */
.service-modal {
  position: fixed;
  z-index: 9999;
  inset: 0;
  background: $color-transparent-1;
  backdrop-filter: blur(10px);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  display: grid;
  place-items: center;
}

.service-modal.active {
  opacity: 1;
  visibility: visible;
}

.service-modal-body {
  position: relative;
  max-width: 600px;
  margin-inline: auto;
  background-color: $color-body-bg;
  padding: 40px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 3px 35px 0 rgba(0, 0, 0, 0.14);
  transform: translateY(-50px);
  transition: all 0.5s ease;
}

.service-modal.active .service-modal-body {
  transform: translateY(0);
}

.service-modal-body img {
  width: 4.562rem;
  height: 4.06rem;
  object-fit: cover;
}

.service-modal-body .modal-close-btn {
  position: absolute;
  right: 0;
  top: 0;
  margin: 1.24em;
  cursor: pointer;
}

.service-modal-body h3 {
  color: $color-text-3;
  font-size: $fs-small-tl;
  font-family: 'Quicksand', sans-serif;
}

.service-modal-body h4 {
  color: $color-text-3;
  font-size: 1.125rem;
  font-family: 'Quicksand', sans-serif;
  margin-block: 15px 10px;
  line-height: 1.4em;
}

/* Our missions */
.our-missions {
  padding-block: 6.25em;

  @include sizeSm {
    padding-inline: 6.25em;
  }

  @include sizeLg {
    padding-inline: unset;
  }
}

.our-missions-inner {
  @include sizeLg {
    display: grid;
    grid-template-columns: 45% 1fr;
    gap: 2em;
  }
}

.missions-right-col h3 {
  color: $color-text-3;
  font-size: $fs-small-tl;
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  opacity: 0;
  transform: translateX(-100px);
  transition: all 1.5s ease-out;

  @include sizeMd {
    font-size: $fs-middle-tl;
    line-height: 1.3;
  }

  @include sizeLg {
    font-size: $fs-large-tl-2;
    line-height: 1.2;
    margin-top: 0.909em;
  }
}

.missions-right-col h3.animate {
  opacity: 1;
  transform: translateX(0);
}

.missions-right-col h3 span {
  color: $color-primary;
}

.missions-right-col .divider {
  margin-block: 1.25em 1em;
  transform: translateX(100px);
  opacity: 0;
  transition: transform 1.5s 0.3s ease-out, opacity 1.5s 0.3s ease-out;
}

.missions-right-col .divider.animate {
  opacity: 1;
  transform: translateX(0);
}

.missions-right-col p {
  color: #393939;
  margin-block: 3.125em;
  opacity: 0;
  transform: translateY(50px);
  transition: all 1.5s ease-in-out;
}

.missions-right-col p.animate {
  opacity: 1;
  transform: translateY(0);
}

.missions-right-col .btn-primary {
  opacity: 0;
  transition: 1.5s ease-out;
}

.missions-right-col .btn-primary.animate {
  opacity: 1;
}

.mission-picture {
  position: relative;
  margin-top: 3.125em;
  width: 90%;
  perspective: 400px;
  border-radius: 15px;
  background-image: url(../img/mission-img-3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include sizeMd {
    width: 80%;
  }

  @include sizeLg {
    width: 90%;
    margin-top: 0;
  }
}

.mission-picture::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: $color-primary;
  opacity: 0.9;
  border-radius: 15px;
}

.mission-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform-origin: -450px -250px;
  transform: scale(1.1) translateZ(-100px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.16);
  border-radius: 15px;
  transition: transform 0.5s ease-out;
}

.mission-picture img.animateImg {
  transform: scale(1.2) translateZ(-110px);
}

/* statistics */
.statistics {
  background-color: $color-section-bg;
  padding-block: 6.25em;

  @include sizeSm {
    padding-inline: 6.25em;
  }

  @include sizeLg {
    padding-inline: unset;
  }
}

.statistics-inner {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60% 1fr;

  @include sizeLg {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 5vw);
  }
}

.statistics-left-col {
  position: relative;
  display: grid;
  place-items: center;
  text-align: center;
  color: $color-text-2;
  background: url(../img/stats-img.jpg) no-repeat center center/cover;
  border-radius: 10px;
  padding: 17% 0 32%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.14);

  @include sizeLg {
    grid-column: 1/8;
    grid-row: 1/12;
    justify-content: start;
  }
}

.statistics-left-col::after {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(269deg, $color-primary 0%, $color-tertial 100%);
  opacity: 0.8;
  border-radius: 10px;
}

.statistics-left-col .stats {
  position: relative;
  z-index: 1;

  @include sizeLg {
    left: 2.5em;
  }
}

.stats-tar-1 span,
.stats-tar-2 span {
  font-weight: 400;
  font-family: 'Quicksand', sans-serif;
  line-height: 1.2;
}

.stats-tar-1 {
  margin-bottom: 1em;

  @include sizeLg {
    margin-bottom: 2em;
  }
}

.stats-tar-1 span {
  font-size: 5rem;

  @include sizeLg {
    font-size: 7rem;
  }
}

.stats-tar-2 span {
  @include sizeLg {
    font-size: $fs-middle-tl;
  }
}

.stats-tar-1 h4,
.stats-tar-2 h4 {
  color: #f7f7f7;
  font-size: 1.125rem;
  font-weight: 500;
  text-transform: uppercase;

  @include sizeLg {
    font-size: 1.375rem;
    font-weight: 400;
    opacity: 0.9;
  }
}

.stats-tar-2 {
  @include sizeMd {
    display: flex;
    gap: 4em;

    @include sizeLg {
      gap: 1em;
    }
  }
}

.stats-tar-2 .stats-divider {
  @include sizeMd {
    position: relative;
    height: min(7vw, 60px);
    width: 2px;
    background-color: #fff;
    opacity: 0.5;
  }
}

.stats-tar-2 div {
  margin-bottom: 0.25em;
}

.stats-tar-2 span {
  font-size: 2.3125rem;
}

.stats-tar-2 span:nth-of-type(2) {
  margin-right: -21%;
}

.statistics-right-col {
  position: relative;
  background-color: $color-body-bg;
  z-index: 10;
  padding: 13% 7%;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.14);
  margin-top: -17%;

  @include sizeLg {
    grid-column: 6/13;
    grid-row: 2/13;
    margin-top: unset;
    padding: 133px 118px;
  }
}

.statistics-right-col h3 {
  color: $color-text-3;
  font-size: $fs-small-tl;
  font-family: 'Quicksand', sans-serif;
  text-transform: capitalize;
  line-height: 1.25em;
  margin-bottom: 1em;
  clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  transition: all 1.5s ease-out;

  @include sizeLg {
    font-size: $fs-large-tl-2;
    line-height: 1.14em;
    font-weight: 600;
  }
}

.statistics-right-col h3.animate {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.statistics-right-col h3 span {
  color: $color-primary;
}

.statistics-right-col .divider {
  margin-bottom: 2em;
  opacity: 0;
  transform: translateX(-50px);
  transition: all 1s ease-out;
}

.statistics-right-col .divider.animate {
  opacity: 1;
  transform: translateX(0);
}

.statistics-right-col p {
  opacity: 0;
  transform: translateY(50px);
  transition: all 1s 0.3s ease-out;
}

.statistics-right-col p.animate {
  opacity: 1;
  transform: translateY(0);
}
