@use '../abstracts' as *;

.what-we-do {
  text-align: center;
  padding-block: 11.25em 6.25em;

  @include sizeMd {
    padding-inline: 6.25em;
  }

  @include sizeLg {
    padding-inline: unset;
  }
}

.what-we-do h1 {
  color: $color-primary;
  font-size: $fs-middle-tl;
  font-family: 'Quicksand', sans-serif;
  line-height: 1.17em;
  margin-bottom: 2.22em;
}

.what-we-do-inner {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5em;

  @include sizeLg {
    grid-template-columns: 45% 1fr;
    grid-template-areas: 'left right';
  }
}

.what-we-do-left {
  @include sizeLg {
    grid-area: left;
    text-align: left;
  }
}

.what-we-do-right {
  @include sizeLg {
    grid-area: right;
  }
}

.what-we-do-img {
  clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  transition: clip-path 2.5s ease;
}

.what-we-do-img.animation {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.what-we-do-left h3 {
  color: var(--color-text-3);
  font-size: $fs-small-tl;
  font-family: 'Quicksand', sans-serif;
  text-transform: capitalize;
  margin-block: 1.56em;

  @include sizeLg {
    font-size: $fs-large-tl-2;
    margin-block: 0.45em;
    line-height: 1.2;
  }
}

.what-we-do-left img {
  margin-inline: auto;
  transform: translateX(100px);
  opacity: 0;
  transition: all 1.5s ease;

  @include sizeLg {
    margin-inline: unset;
  }
}

.what-we-do-left img.animation {
  opacity: 1;
  transform: translateX(0);
}

.what-we-do-left p {
  margin-block: 1.25em 3.125em;
  opacity: 0;
  transform: translateY(100px);
  transition: all 1.5s ease;
  @include sizeLg {
    margin-block: 3.125em;
  }
}

.what-we-do-left p.animation {
  opacity: 1;
  transform: translateY(0);
}

/* Offer */
.offer {
  background-color: var(--color-section-bg);
  padding-block: 6.25em;
}

.offer-text {
  text-align: center;
}

.offer-text h3 {
  color: var(--color-text-3);
  font-size: $fs-small-tl;
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  opacity: 0;
  transform: translateY(50px);
  transition: all 1.5s ease;

  @include sizeMd {
    font-size: $fs-middle-tl;
  }

  @include sizeLg {
    font-size: $fs-large-tl-2;
  }
}

.offer-text h3.animation {
  opacity: 1;
  transform: translateY(0);
}

.offer-text span {
  color: $color-primary;
}

.offer-text img {
  margin-inline: auto;
  padding-block: 1.25em;
  opacity: 0;
  transform: translateX(100px);
  transition: all 1.5s 0.5s ease;
}

.offer-text img.animation {
  opacity: 1;
  transform: translateX(0);
}

.offer-inner {
  margin-top: 3.125em;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.25em;

  @include sizeMd {
    grid-template-columns: repeat(2, 1fr);
  }
  @include sizeLg {
    grid-template-columns: repeat(4, 1fr);
  }
}

.scene {
  perspective: 600px;
}

.card {
  width: 100%;
  height: 24.375em;
  position: relative;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 0.8s;
  will-change: transform;
}

.card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--color-card);
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.14);
  padding: 1.25em;
}

.card-face-front {
  transform: rotateY(0deg);
}

.card-face-front h4,
.card-face-back h4 {
  color: var(--color-text-2);
  font-size: $fs-middle-sub;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  margin-block: 1.75em;
}

.card-face-back h4 {
  margin-block: 0.57em;
}

.card-face-back p {
  font-size: $fs-small;
}

.card-face-back {
  transform: rotateY(180deg);
}

/* experts-team */
.experts-team {
  position: relative;
  background: url('../img/services-img-3.jpg') no-repeat;
  text-align: center;
  background-size: cover;
  background-position: center;
  padding-block: 6.25em;

  @include sizeLg {
    text-align: left;
  }
}

.experts-team::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--color-card-experts);
  // background: var(--gradient-5);
  opacity: 0.95;
}

.experts-team .container {
  position: relative;
  z-index: 1;
}

.experts-team-inner {
  @include sizeLg {
    display: grid;
    grid-template-columns: 40% 1fr;
    gap: 1.5em;
  }
}

.experts-team-inner-left h3 {
  color: #ffffff;
  font-family: 'Quicksand', sans-serif;
  font-size: $fs-small-tl;
  opacity: 0;
  transform: translateY(50px);
  transition: all 1.5s ease;

  @include sizeMd {
    font-size: $fs-middle-tl;
  }

  @include sizeLg {
    font-size: $fs-large-tl-2;
    margin-top: 1.54em;
  }
}

.experts-team-inner-left h3.animation {
  opacity: 1;
  transform: translateY(0);
}

.experts-team-inner-left img {
  margin-block: 1.56em 3.125em;
  margin-inline: auto;
  opacity: 0;
  transform: translateX(150px);
  transition: all 1.5s 0.5s ease;

  @include sizeLg {
    margin-inline: unset;
  }
}

.experts-team-inner-left img.animation {
  opacity: 1;
  transform: translateX(0);
}

.experts-team-inner-left p {
  color: #fff;
  opacity: 0;
  transform: translateY(50px);
  transition: all 1.5s 0.5s ease;
}

.experts-team-inner-left p.animation {
  opacity: 0.8;
  transform: translateY(0);
}

.experts-team-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  background: var(--color-card);
  border-radius: 20px;
  margin-top: 3.125em;
  padding-block: 50px;

  @include sizeMd {
    grid-template-columns: repeat(2, 1fr);
  }

  @include sizeLg {
    margin-block: 0;
    padding-inline: 50px;
  }
}

.team-card {
  background-color: var(--color-card);
  padding: 60px 20px;
  opacity: 0;
  transform: translateX(80px);
  transition: all 1.5s ease;
}

.team-card.animation {
  opacity: 1;
  transform: translateX(0);
}

.team-card-1 {
  @include sizeMd {
    transition-delay: 0.2s;
  }
}

.team-card-2 {
  @include sizeMd {
    transition-delay: 0.4s;
  }
}

.team-card-3 {
  @include sizeMd {
    transition-delay: 0.2s;
  }
}

.team-card-4 {
  @include sizeMd {
    transition-delay: 0.4s;
  }
}

.team-card h5 {
  position: relative;
  color: var(--color-text-2);
  font-size: 1.31rem;
  font-weight: 500;
  margin-bottom: 1.33em;
  opacity: 0.75;

  @include sizeLg {
    padding-left: 1.69em;
  }
}

.team-card h5::before {
  content: '';
  position: absolute;
  width: 6.25em;
  height: 2px;
  left: 50%;
  top: -15px;
  transform: translateX(-50%);
  background-image: $gradient-4;

  @include sizeLg {
    width: 1.25em;
    left: 0.75em;
    top: 0.71em;
    margin-right: 7px;
  }
}

.team-card h3 {
  color: $color-primary;
  font-family: 'Quicksand', sans-serif;
  font-size: $fs-middle-sub;
  font-weight: 500;
  text-transform: uppercase;
}

.team-card p {
  color: var(--color-text-2);
  margin-block: 1em;
  opacity: 0.8;
}
