@keyframes showShape1 {
  to {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes stretchOut {
  0% {
    transform: scale(1, 1);
  }

  25% {
    transform: scale(1.1, 1);
  }

  50% {
    transform: scale(0.9, 1);
  }

  75% {
    transform: scale(1, 1);
  }

  100% {
    transform: scale(1, 1);
  }
}

@keyframes stretchOut-2 {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.2, 1);
  }

  100% {
    transform: scale(1, 1);
  }
}

@keyframes stretchOut-3 {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(0.9, 1);
  }

  75% {
    transform: scale(1.1, 1);
  }

  100% {
    transform: scale(1, 1);
  }
}

@keyframes moveToRight {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveToLeft {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveToTop {
  to {
    clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
  }
}

@keyframes showItem {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* vision-card-animation */
@keyframes vision-animation {
  from {
    opacity: 0;
    transform: translateX(150px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
