/* Main colors */
// $color-primary: #00d9a6;
$color-primary: #3498db;
// $color-secondary: #202020;
$color-secondary: #343a40;
// $color-tertial: #02dda9;
$color-tertial: #17fdb8;
// $color-tertial: #9be15d;

/*background colors */
$color-body-bg: #fff;
$color-modal-bg: #f4f4f4;
$color-transparent-1: rgba(0, 0, 0, 0.14);
$color-header-con: #444444;
$color-button-bg: #494949;
$color-hero-img: #dbdbdb;

/* Text color */
$color-text: #444444;
$color-text-2: #fff;
$color-text-3: #343a40;
