/* Main colors */
$color-primary: #3498db;
$color-secondary: #343a40;
$color-tertial: #17fdb8;

/*background colors */
$color-body-bg: #fff;
$color-modal-bg: #f4f4f4;
$color-transparent-1: rgba(0, 0, 0, 0.14);
$color-header-con: #444444;
$color-button-bg: #494949;
$color-hero-img: #dbdbdb;
$color-section-bg: #f9f9f9;

/* Text color */
$color-text: #444444;
$color-text-2: #fff;
$color-text-3: #343a40;
