$smallSize: 31.25rem;
$middleSize: 42.5rem;
$largeSize: 64rem;

@mixin sizeSm {
  @media (min-width: #{$smallSize}) {
    @content;
  }
}

@mixin sizeMd {
  @media (min-width: #{$middleSize}) {
    @content;
  }
}

@mixin sizeLg {
  @media (min-width: #{$largeSize}) {
    @content;
  }
}
