@use '../abstracts/colors' as *;
@use '../abstracts/mixin' as *;
@use '../components/buttons' as *;

header {
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--color-body-bg);
  box-shadow: 0 4px 44px 0 rgba(0, 0, 0, 0.14);
  transition: 0.6s ease;
}

header.sticky {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14);
}

header .contact {
  position: relative;
  z-index: 1;
  color: $color-text-2;
  background: $gradient-1;
  display: flex;
  justify-content: space-between;
  padding: 0.3125em 2.1875em;
}

header .contact :is(.phone-number, .social-icons) {
  display: flex;
  align-items: center;
}

header .phone-number img {
  margin-right: 0.62em;
}

header .social-icons img {
  width: 1.062em;
  height: 1.062em;
  margin-right: 1em;
}

header .social-icons img:last-child {
  margin-right: 0;
}

.header-container {
  position: relative;
  max-width: 75em;
  min-height: calc(5em + 1em);
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 2em;
  transition: 0.6s ease;

  @include sizeMd {
    flex-direction: column;
    justify-content: center;
  }

  @include sizeLg {
    flex-direction: row;
    justify-content: space-between;
  }
}

header.sticky .header-container {
  height: calc(4em + 1em);
}

nav {
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: var(--color-body-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s ease;

  @include sizeMd {
    position: unset;
    width: unset;
    height: auto;
    background-color: unset;
    opacity: unset;
    visibility: unset;
  }
}

nav.active {
  visibility: visible;
  opacity: 1;
}

.nav-body {
  position: relative;
  width: 37.5em;
  max-width: 37.5em;
  border-radius: 10px;
  margin-inline: auto;
  background-color: var(--color-modal-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0px 0px 0px 20px rgba(0, 0, 0, 0.1);
  padding: 2.5em;
  margin: 1.25em;
  transform: translateY(-50px);
  transition: transform 0.3s ease;

  @include sizeMd {
    width: unset;
    max-width: unset;
    border-radius: unset;
    background-color: unset;
    box-shadow: unset;
    padding: 0;
    margin: 0;
    transform: translateY(0);
  }
}

nav.active .nav-body {
  transform: translateY(0);
}

.nav-body .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.625em;
  width: 1.875em;
  height: 1.875em;
  cursor: pointer;

  @include sizeMd {
    display: none;
  }
}

.nav-body ul {
  @include sizeMd {
    display: flex;
  }
}

.nav-body ul a {
  display: inline-block;
  color: var(--color-text);
  font-size: 1.25rem;
  text-transform: uppercase;
  font-family: 'quicksand', sans-serif;
  font-weight: 600;
  margin: 0.94em 3.125em;

  @include sizeMd {
    margin: 1.5em 0 0;
    padding: 0.5em 1.4em;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.875rem;
  }

  @include sizeLg {
    margin-top: 0;
  }
}

.nav-body li.active a {
  color: $color-primary;
}

.nav-body ul a:hover {
  color: $color-primary;
}

header .btn-primary {
  display: none;

  @include sizeLg {
    display: block;
  }
}

/* hamburger */
.hamburger {
  position: relative;
  z-index: 10;
  width: 1.5em;
  height: 1.5em;
  background: none;
  border: none;
  cursor: pointer;
  transition: 0.2s ease;

  @include sizeMd {
    display: none;
  }
}

.hamburger :is(.top, .middle, .bottom) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--color-ham-bg);
  transform: rotate(0);
  transition: all 0.25s;
}

.hamburger .middle {
  transform: translateY(7px);
}

.hamburger .bottom {
  transform: translateY(14px);
}

.open .top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .middle {
  display: none;
}

.open .bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}
